<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Все запросы без реального файла/папки — в index.php (фронт-контроллер)
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
